node_modules
*.log
coverage
overflow
data
test/fixtures/nodekey
test/fixtures/.password
test/fixtures/chaindata
test/fixtures/dapp
test/fixtures/blockchain
test/fixtures/extra
test/fixtures/state
test/fixtures/nodes
test/fixtures/geth
